:root {
    --mdc-theme-primary: #199450;
}
.body {
    margin: 0;
}
.hand {
    cursor: pointer;
}
.toolbarTitleLink {
    color: var(--mdc-theme-text-primary-on-primary, white);
    text-decoration: none;
}
